:root {
  --white: #fff;
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --main-margin: 20px;
}

.list-flex__text, .footer__link, .app__text, .news__news-text, .pricing-forms__description, .pricing-forms__button, .artist__description, .subscription__description {
  font-size: 16px;
  line-height: 1.5;
}

.pricing-forms__price-currency {
  font-size: 32px;
  line-height: 1.5;
}

.pricing-forms__price-value {
  font-size: 64px;
  line-height: 1.5;
}

.header__nav-link, .header__logo-text {
  font-size: 11px;
  line-height: 1.5;
}

.footer__line, .footer__list, .app__text, .header__input, .header__nav-list, p, h3, h2, h1, body {
  margin: 0;
  padding: 0;
}

.app__button, .news__button {
  width: 131px;
  height: 53px;
  font-size: 12.8px;
  line-height: 19.2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.list-flex, .popular-track, .footer__menu-bottom, .footer__menu-top, .app, .news, .pricing-forms, .header {
  max-width: 1240px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.5;
  color: var(--dark-gray);
  background-color: var(--black);
  position: relative;
  color: var(--white);
}

h1 {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-size: 60px;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-size: 38px;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 18px;
  }
}
h3 {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-size: 24px;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 16px;
  }
}

.header {
  position: absolute;
  display: flex;
  top: 25px;
  left: 0;
  right: 0;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img {
  width: 24px;
  height: 24px;
}
.header__logo-text {
  margin: 0 90px 0 16px;
  text-transform: uppercase;
  color: var(--white);
}
.header__nav-list {
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin: 17px 0 18px;
  }
}
.header__nav-item {
  list-style: none;
  padding-right: 24px;
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__nav-item {
    padding-bottom: 3px;
    margin-right: a;
  }
}
.header__nav-item:last-of-type {
  padding: 0;
}
.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-gray);
}
.header__nav-link_selected {
  color: var(--white);
}
.header__nav-link:last-of-type {
  margin: 0;
}
@media screen and (max-width: 800px) {
  .header__nav-link {
    line-height: 13px;
  }
}
.header__form {
  width: 20vw;
  max-width: 248px;
  margin: auto 0 auto auto;
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__form {
    margin: 0;
    width: calc(100vw - 40px);
    max-width: 378px;
  }
}
.header__input {
  height: 25px;
  border-radius: 25px;
  border: 0px;
  width: 100%;
  background-color: var(--dark);
  box-sizing: border-box;
}
.header__input::placeholder {
  padding: 5px 0 5px 10px;
  color: #757575;
  text-transform: uppercase;
}

.subscription {
  max-height: 750px;
  padding: 200px 0;
  min-height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .subscription {
    max-height: 853px;
    height: 853px;
    box-sizing: border-box;
    padding: 200px 20px;
  }
}
.subscription__description {
  margin: 31px 0 17px;
  text-align: center;
  max-width: 1200px;
}
@media screen and (max-width: 800px) {
  .subscription__description {
    margin: 16px 0;
  }
}
.subscription__form {
  max-width: 570px;
}
.subscription__input-text {
  width: 270px;
  box-sizing: border-box;
  height: 50px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid var(--dark-gray);
  margin-bottom: 24px;
}
.subscription__input-text:first-of-type {
  margin-right: 24px;
}
@media screen and (max-width: 800px) {
  .subscription__input-text:first-of-type {
    margin-right: 0;
  }
}
.subscription__input-text::placeholder {
  padding: 15px 0 11px 20.24px;
  color: var(--white);
}
@media screen and (max-width: 800px) {
  .subscription__input-text {
    width: 374px;
    display: block;
  }
}
.subscription__button {
  display: block;
  width: 567px;
  height: 57px;
  border-radius: 5px;
  border: 0;
  background-color: var(--green);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (max-width: 800px) {
  .subscription__button {
    width: 374px;
  }
}

.artist {
  max-height: 713px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
  padding: 200px 120px;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .artist {
    max-height: 730px;
    height: 730px;
    padding: 200px 20px;
  }
}
.artist__title {
  width: 100%;
  text-align: start;
}
.artist__description {
  margin: 16px 0 48px;
  width: 100%;
  text-align: start;
}
.artist__button {
  width: 200px;
  height: 62px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  color: var(--white);
  padding: 20px 30px;
  margin-right: 19px;
  margin-bottom: 24px;
  cursor: pointer;
}
.artist__button_color_purple {
  background-color: var(--purple);
}
.artist__button_color_red {
  background-color: var(--red);
}
@media screen and (max-width: 800px) {
  .artist__button {
    display: block;
  }
}
.artist__button-inside {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12.8px;
}
.artist__button-img {
  width: 20px;
  padding-right: 16px;
}

.pricing-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 101px;
}
@media screen and (max-width: 1240px) {
  .pricing-forms {
    justify-content: center;
  }
}
.pricing-forms__title {
  width: 100%;
}
.pricing-forms__one-form {
  width: 368.5px;
  border-radius: 15px;
  margin: 45px 0 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 27px 64px 22px;
  box-sizing: border-box;
}
.pricing-forms__one-form:first-of-type {
  margin-top: 45px;
}
.pricing-forms__one-form_type_free {
  background-image: url(../images/subscribe_1.png);
}
.pricing-forms__one-form_type_standart {
  background-image: url(../images/subscribe_2.png);
}
.pricing-forms__one-form_type_premium {
  background-image: url(../images/subscribe_3.png);
}
@media screen and (max-width: 800px) {
  .pricing-forms__one-form {
    padding-top: 19px;
    margin-top: 0;
  }
  .pricing-forms__one-form:first-of-type {
    margin-top: 45px;
    margin-right: 0px;
  }
}
.pricing-forms__title-price {
  font-weight: 400;
}
.pricing-forms__price {
  margin: 200px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pricing-forms__price-value {
  margin-right: 16px;
  line-height: 1;
}
.pricing-forms__price-currency {
  text-transform: uppercase;
}
.pricing-forms__form-description {
  text-align: center;
  margin-top: 64px;
  font-size: 12.8px;
}
.pricing-forms__button {
  background-color: transparent;
  color: var(--white);
  border-radius: 3px;
  border: 2px solid var(--white);
  text-transform: uppercase;
  cursor: pointer;
  width: 318px;
  height: 66px;
}
.pricing-forms__description {
  width: 100%;
  text-align: center;
}

.news {
  padding: 100px 20px 0;
}
@media screen and (max-width: 800px) {
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.news__news-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 65px;
}
.news__news-block:first-of-type {
  margin-top: 48px;
}
.news__news-block:nth-of-type(2n) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .news__news-block {
    flex-direction: column;
  }
  .news__news-block:nth-of-type(2n) {
    flex-direction: column;
  }
}
.news__image {
  width: 45vw;
  max-width: 575px;
  min-width: 374px;
}
.news__text-block {
  display: flex;
  flex-direction: column;
  width: 45vw;
  max-width: 575px;
  min-width: 374px;
}
@media screen and (max-width: 800px) {
  .news__text-block {
    margin-top: 50px;
  }
}
.news__news-title {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .news__news-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.news__news-text {
  margin-bottom: 25px;
}
.news__author-block {
  display: flex;
  align-content: center;
  font-size: 12.8px;
  line-height: 19px;
}
.news__author {
  text-decoration: none;
  color: var(--orange);
  margin: 0 18px 0 16px;
  text-transform: uppercase;
}
.news__button {
  margin-top: 48px;
  color: var(--dark-gray);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--dark-gray);
  width: 135px;
}

.app {
  padding: 100px 20px 0;
  max-width: 1240px;
}
.app__block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 48px auto 0;
}
@media screen and (max-width: 800px) {
  .app__block {
    flex-direction: column;
    align-items: center;
    margin: 48px 0 0;
  }
}
.app__text-block {
  max-width: 600px;
  margin-right: min(144px, 10vw);
  margin-top: 16px;
}
@media screen and (max-width: 800px) {
  .app__text-block {
    margin-right: 0;
  }
}
.app__text {
  margin-bottom: 16px;
}
.app__button {
  background-color: var(--red);
  color: var(--white);
  border-radius: 25px;
  border: 0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer__menu-top {
  padding: 62px 20px 72px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: min(40px, 3.3333333333vw);
}
@media screen and (max-width: 1240px) {
  .footer__menu-top {
    grid-template-columns: repeat(4, 21.3vw);
  }
}
@media screen and (max-width: 800px) {
  .footer__menu-top {
    grid-template-columns: repeat(1, auto);
    row-gap: 30px;
  }
}
.footer__block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer__title {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: start;
}
@media screen and (max-width: 800px) {
  .footer__title {
    margin-bottom: 16px;
  }
}
.footer__link {
  color: var(--gray);
  text-decoration: none;
  width: auto;
  margin-right: auto;
}
.footer__link_place_bottom {
  margin-right: 16px;
}
@media screen and (max-width: 800px) {
  .footer__link_place_bottom {
    margin-bottom: 16px;
  }
}
.footer__list {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.footer__list_direction_row {
  flex-direction: row;
  gap: 24px;
}
.footer__list-item {
  list-style: none;
}
.footer__line {
  color: var(--dark-gray);
  size: 1px;
}
.footer__menu-bottom {
  padding: 40px 20px 49px;
}
@media screen and (max-width: 800px) {
  .footer__menu-bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 39px;
  }
}

.popular-track {
  padding-top: 100px;
}
.popular-track__title {
  text-align: left;
}
.popular-track__grid-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
  row-gap: 25px;
}
@media screen and (max-width: 800px) {
  .popular-track__grid-block {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-track__title {
  margin-bottom: 48px;
  text-align: left;
}
.popular-track__track-block {
  display: flex;
  align-items: center;
}
.popular-track__image {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.popular-track__name {
  font-size: 12.8px;
}
.popular-track__artist {
  font-size: 12.8px;
  color: var(--gray);
}
.popular-track__time {
  margin-left: auto;
  margin-right: 49px;
  font-size: 12.8px;
}
@media screen and (max-width: 800px) {
  .popular-track__time {
    margin-right: 0;
  }
}

.list-flex {
  padding-top: 100px;
}
.list-flex__title {
  text-align: left;
}
.list-flex__flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}
.list-flex__block {
  margin-right: 50px;
  margin-top: 25px;
  width: clamp(137px, 20vw, 250px);
  display: flex;
  flex-direction: column;
}
.list-flex__block_section_similar {
  align-items: center;
}
.list-flex__image {
  width: 100%;
}
.list-flex__name {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 18px;
  text-align: start;
}
.list-flex__name_section_similar {
  width: 100%;
  text-align: center;
}
.list-flex__text_section_similar {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
