.pricing-forms {
  @extend %section-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 101px;
  @media screen and (max-width: 1240px) {
    justify-content: center;
  }
  &__title {
    width: 100%;
  }
  &__one-form {
    width: 368.5px;
    height: 600px;
    border-radius: 15px;
    margin:45px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 27px 64px 22px;
    box-sizing: border-box;
    &_type {
      &_free {
        background-image: url(../images/subscribe_1.png);
      }
      &_standart {
        background-image: url(../images/subscribe_2.png);
      }
      &_premium {
        background-image: url(../images/subscribe_3.png);
      }
    }
    @media screen and (max-width: $mobile-width) {
      padding-top: 19px;
      margin-top: 0;
      height: 600px;
      &:first-of-type {
        margin-top: 45px;
        margin-right: 0px;
      }
    }
  }
  &__title-price {
    font-weight: 400;
  }
  &__price {
    margin: 200px 0 40px;
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100%;
  }
  &__price-value {
    margin-right: 16px;
    @extend %text-size-7;
    line-height: 1;
  }
  &__price-currency {
    @extend %text-size-3;
    text-transform: uppercase;
  }
  &__form-description {
    text-align: center;
    margin-top: 64px;
    font-size: 12.8px;
  }
  &__button {
    background-color: transparent;
    color: var(--white);
    border-radius: 3px;
    padding: 20px 30px;
    border: 2px solid var(--white);
    text-transform: uppercase;
    @extend %text-size-1;
    cursor: pointer;
    width: 318px;
    height: 66px;
  }
  &__description {
    width: 100%;
    text-align: center;
    @extend %text-size-1;
  }
}