.header {
  @extend %section-size;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    width: 24px;
    height: 24px;
  }

  &__logo-text {
    margin: 0 90px 0 16px;

    color: var(--white);
    text-transform: uppercase;

    @extend %text-small;
  }

  &__nav-list {
    @extend %indent-none;
    display: flex;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
      align-items: flex-start;
      margin: 17px 0 18px;
    }
  }

  &__nav-item {
    display: flex;

    padding-right: 24px;

    list-style: none;

    @media screen and (max-width: $mobile-width) {
      padding-bottom: 3px;
    }

    &:last-of-type {
      padding: 0;
    }
  }

  &__nav-link {
    @extend %text-small;
    color: var(--dark-gray);
    text-transform: uppercase;
    text-decoration: none;

    &_selected {
      color: var(--white);
    }

    &:last-of-type {
      margin: 0;
    }

    @media screen and (max-width: $mobile-width) {
      line-height: 13px;
    }
  }

  &__form {
    display: flex;

    width: 20vw;
    max-width: 248px;

    margin: auto 0 auto auto;

    @media screen and (max-width: $mobile-width) {
      width: calc(100vw - 40px);
      max-width: 378px;

      margin: 0;
    }
  }

  &__input {
    @extend %indent-none;
    box-sizing: border-box;
    width: 100%;
    height: 25px;

    background-color: var(--dark);

    border: 0;
    border-radius: 25px;

    &::placeholder {
      padding: 5px 0 5px 10px;

      color: #757575;
      text-transform: uppercase;
    }
  }
}
