.list-flex {
  @extend %section-size;
  padding-top: 100px;

  &__title {
    text-align: left;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: clamp(137px, 20vw, 250px);
    margin-top: 25px;
    margin-right: 50px;

    &_section {
      &_similar {
        align-items: center;
      }
    }
  }

  &__image {
    width: 100%;
  }

  &__name {
    margin-top: 18px;

    font-size: 18px;
    text-align: start;
    text-transform: capitalize;

    &_section {
      &_similar {
        width: 100%;

        text-align: center;
      }
    }
  }

  &__text {
    @extend %text-size-1;

    &_section {
      &_similar {
        width: 100%;

        text-align: center;
      }
    }
  }
}
