.news {
  @extend %section-size;
  padding: 100px 20px 0;

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__news-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 65px;

    &:first-of-type {
      margin-top: 48px;
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;

      &:nth-of-type(2n) {
        flex-direction: column;
      }
    }
  }

  &__image {
    width: 45vw;
    min-width: 374px;
    max-width: 575px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    width: 45vw;
    min-width: 374px;
    max-width: 575px;

    @media screen and (max-width: $mobile-width) {
      margin-top: 50px;
    }
  }

  &__news-title {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 16px;

      font-size: 16px;
    }
  }

  &__news-text {
    @extend %text-size-1;
    margin-bottom: 25px;
  }

  &__author-block {
    display: flex;
    align-content: center;

    font-size: 12.8px;
    line-height: 19px;
  }

  &__author {
    margin: 0 18px 0 16px;

    color: var(--orange);
    text-transform: uppercase;
    text-decoration: none;
  }

  &__button {
    width: 135px;
    margin-top: 48px;
    padding: 16px 30px;

    color: var(--dark-gray);
    text-transform: uppercase;

    background-color: transparent;

    border: 2px solid var(--dark-gray);
    border-radius: 5px;

    @extend %btn;
  }
}
