.popular-track {
  @extend %section-size ;
  padding-top: 100px;

  &__title {
    margin-bottom: 48px;

    text-align: left;
  }

  &__grid-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
    row-gap: 25px;

    @media screen and (max-width: $mobile-width) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__track-block {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  &__name {
    font-size: 12.8px;
  }

  &__artist {
    color: var(--gray);
    font-size: 12.8px;
  }

  &__time {
    margin-right: 49px;
    margin-left: auto;

    font-size: 12.8px;

    @media screen and (max-width: $mobile-width) {
      margin-right: 0;
    }
  }
}
