.pricing-forms {
  @extend %section-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;

  @media screen and (max-width: 1240px) {
    justify-content: center;
  }

  &__title {
    width: 100%;
  }

  &__one-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    height: 600px;
    margin: 47px 0 55px;
    padding: 24px 27px 64px 22px;

    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 15px;

    &_type {
      &_free {
        width: 368.2px;

        background-image: url("../images/subscribe_1.png");
      }

      &_standart {
        width: 369.2px;

        background-image: url("../images/subscribe_2.png");
      }

      &_premium {
        width: 368.8px;

        background-image: url("../images/subscribe_3.png");
      }
    }

    @media screen and (max-width: $mobile-width) {
      width: 374px;
      height: 592px;
      margin-top: 0;
      padding-top: 19px;

      &:first-of-type {
        margin-top: 43px;
        margin-right: 0;
      }
    }
  }

  &__title-price {
    font-weight: 400;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 200px 0 40px;
  }

  &__price-value {
    margin-right: 16px;

    @extend %text-size-7;
    line-height: 1;
  }

  &__price-currency {
    @extend %text-size-3;
    text-transform: uppercase;
  }

  &__form-description {
    margin-top: 64px;

    font-size: 12.8px;
    text-align: center;

    @media screen and (max-width: $mobile-width) {
      margin-top: 66px;
    }
  }

  &__button {
    width: 318px;
    height: 66px;
    padding: 20px 30px;

    color: var(--white);
    text-transform: uppercase;

    background-color: transparent;

    border: 2px solid var(--white);
    border-radius: 3px;

    @extend %text-size-1;
    cursor: pointer;
  }

  &__description {
    width: 100%;

    text-align: center;

    @extend %text-size-1;
  }
}
