.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 750px;
  margin: auto;
  padding: 200px 0;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  @media screen and (max-width: $mobile-width) {
    box-sizing: border-box;
    height: 853px;
    max-height: 853px;
    padding: 200px 20px;
  }

  &__title {
    @media screen and (max-width: $mobile-width) {
      margin: 50px 0 0;
    }
  }

  &__description {
    @extend %text-size-1;
    max-width: 1200px;
    margin: 31px 0 17px;

    text-align: center;

    @media screen and (max-width: $mobile-width) {
      margin: 16px 0;
    }
  }

  &__form {
    max-width: 570px;
  }

  &__input-text {
    box-sizing: border-box;
    width: 270px;
    height: 50px;
    margin-bottom: 24px;

    background-color: transparent;

    border: 2px solid var(--dark-gray);
    border-radius: 3px;

    &:first-of-type {
      margin-right: 24px;

      @media screen and (max-width: $mobile-width) {
        margin-right: 0;
      }
    }

    &::placeholder {
      padding: 15px 0 11px 20.24px;

      color: var(--white);
    }

    @media screen and (max-width: $mobile-width) {
      display: block;
      width: 374px;
    }
  }

  &__button {
    display: block;
    width: 570px;
    height: 57px;

    color: var(--white);
    text-transform: uppercase;

    background-color: var(--green);

    border: 0;
    border-radius: 5px;

    cursor: pointer;

    @media screen and (max-width: $mobile-width) {
      width: 374px;
    }
  }
}
